{% extends 'base.html' %}
{% block title %} Registration {% endblock %}
{% block content %}
<div class="container">
    <h1> Please register below</h1>
    <p class="lead">If you already registered, you can <a href="/login"> LOG IN HERE</a></p>
    <form method="POST">

        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endfor %}

        <button class="btn btn-success" type="submit">Register</button>

    </form>
</div>
{% endblock %}